{% extends "base.html" %}

{% block title %}Clientes{% endblock %}

{% block page_content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clientes</title>
</head>
<body>

<!-- Muestro el contenido del CSV -->
<h1>Clientes de Conesa Inc.</h1>
<h2> </h2>

<table style="width:100%; border:1px solid #000;">
	{% for item in tabla %}
    <tr>
    {% for clientes in item %}
		<td style="width: 25%;
        text-align: left;
        vertical-align: top;
        border: 1px solid #000;
        border-collapse: collapse;
        padding: 0.3em;
        caption-side: bottom;">{{ clientes }}</td>
    		{% endfor %}
    	</tr>
    {% endfor %}
</table>
<!-- FIN Muestro el contenido del CSV -->

</body>
</html>

{% endblock %}
